<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Imbue.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B2C834DE1F0E305C002B8931</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B2C834F41F0E305C002B8931</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B2C834FF1F0E305C002B8931</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
